.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  background-color: #70a0ff;
  min-height: 105vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-footer {
  background-color: #70a0ff;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

.ContentItem {
  background-color: #d1e0ff;
  min-height: 20vh;
  min-width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);

  margin: calc(10px + 2vmin);
}

.ContentSubItem{
  background-color: #ffffff;
  min-height: 20vh;
  max-width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  margin: calc(10px + 2vmin);
}

.ContentSubSubItem{
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: left;
  text-align: left;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  gap: calc(10px + 2vmin);
  margin-left: calc(10px + 2vmin);
  margin-right: calc(10px + 2vmin);
}

.fadeIn {
  animation: fadeIn 2000ms cubic-bezier(0.19, 1, 0.22, 1);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
